.img-30x30 {
    width:30px !important;
    height:30px !important;
}
.img-40x40 {
    width:40px !important;
    height:40px !important;
}
.img-30x60 {
    width:110px !important;
    height:60px !important;
}
.img-Productos {
    width:150px !important;
    height:200px !important;
}
.img-foot{
    width:110px !important;
    height:77px !important;
}